/article_PartitionningAGraphIntoBalancedConnectedClasses.pdf
/code_1_projet.jl
/code_1_projet_bis.jl
/code_2_projet.jl
/code_3.jl
/decoupe.jl
/fonction_prof_matrice.jl
/gg_05_05_a_1.in
/gg_05_05_a_2.in
/gg_05_05_a_3.in
/gg_05_05_a_4.in
/gg_05_05_b_1.in
/gg_15_15_a_1.in
/iamge_code_1_deuxième_instance.png
/image_code_1_instance_3.png
/image_code_1_isntance_1.png
/test-julia.jl
/texte_projet_partitionGraphe2025.pdf